<div class="container">

  <div class="modal fade" id="changelog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changelogLabel">Changelog</h4>
        </div>
        <div class="modal-body">
          <div *ngFor="let entry of changelog">
            <span>{{entry.version}} | {{entry.time}}</span>
            <ul>
              <li *ngFor="let log of entry.updated">{{log}}</li>
            </ul>
            <span *ngIf="entry.message">{{entry.message}}</span>
            <hr/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>
        Attack of the Radioactive Thing: Chemistry Calculator
      </h1>
      <h4><strong>by wellslogan</strong></h4>
      <span>Version {{changelog[0].version}} | <a href="#" data-target="#changelog" data-toggle="modal">Changelog</a></span>

      <h6><em>A special presentation of <a target="_blank" rel="noopener" href="http://reddit.com/r/codzombies">/r/codzombies</a></em></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <h2><strong>Ingredient Values</strong></h2>

      <form class="form-horizontal" id="ingredients">

        <div class="form-group">
          <label class="col-sm-4 col-xs-6 control-label">Magic Number</label>
          <div class="col-sm-4 col-xs-6 control-label">
            <input [(ngModel)]="magicNumber" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder=""
            />
          </div>
        </div>

        <div class="panel panel-default board" *ngFor="let board of ingredients">
          <div class="panel-body board-body">

            <div class="form-group" *ngFor="let ingredient of board">
              <div *ngIf="ingredient.boardItem">
                <a name="{{ingredient.name}}"></a>
                <label class="col-sm-4 col-xs-4 control-label">{{ingredient.name}}</label>
                <div class="col-sm-4 col-xs-4">
                  <input [(ngModel)]="ingredient.costa" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Value A"
                  />
                </div>

                <div class="col-sm-4 col-xs-4">
                  <input [(ngModel)]="ingredient.costb" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Value B"
                  />
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-6">

      <h2><strong>Recipes & Costs</strong></h2>

      <div *ngFor="let rec of recipes">
        <h3>{{rec.result.name}}</h3>
        <ul>
          <li [ngClass]="{'bg-danger': ing.costa == undefined || ing.costb == undefined}" *ngFor="let ing of rec.ingredients"><a href="#{{ing.name}}">{{ing.name}}</a>
            <span *ngIf="ing.costa != undefined && ing.costb != undefined">({{ing.costa}}, {{ing.costb}})</span></li>
        </ul>
        <div *ngIf="notNan(calculateRecipe(rec)) else needCosts">
          <p>The cost for this item is <strong>{{calculateRecipe(rec)}}</strong></p>
        </div>
        <ng-template #needCosts>Please fill in the costs for the above ingredients.</ng-template>
      </div>

    </div>
  </div>
</div>
