<!DOCTYPE html>
<html>
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta description="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseUrl }}/css/main.css"/>
  </head>
  <body>
    {{ content }}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>